@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
  }
*{
    box-sizing: border-box;
    margin: 0;
}
/* Centrando Container */
html, body{
    height: 100%;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
}
main{
    min-height: 100%;
}
body{
    background-color: var(--light-gray);
}
/* Fin del centrado */
.QR__container{
    font-family: 'Outfit', sans-serif;
    color: var(--dark-blue);
    text-align: center;
    overflow: hidden;
    /* width: 100%; */
    max-width: 320px;
    min-width: 300px;
    /* height: 500px; */
    /* margin: 0 auto; */
    /* margin-top: 80px; */
    background-color: var(--white);
    padding: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.QR__picture{
    width: 100%;
    /* height: 60%; */
}
.QR__img{
    border-radius: 10px;
    width: 100%;
    object-fit: contain;
    display: block;
}
.QR__texts{
    width: 95%;
    margin: 0 auto;
}
.QR__title{
    font-size: 23px;
    margin-top: 20px;
}
.QR__paragraph{
    font-size: 16px;
    margin-top: 20px;
    color: var(--grayish-blue);
}
